body{
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5vw;
  text-decoration: none;
  padding: 0;
  margin: 10%;
  margin-top: 1%;
  width: 100%;
  overflow-x: hidden;
}

.headMenu a {
  color: #fff;
  text-decoration: none;
  background: black;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 90%;
}

.projectTitle{
  color: #fff;
  text-decoration: none;
  background: black;
  padding-left: 7px;
  padding-right: 7px;
  overflow: hidden;
}

.blog p{
  color: #000;
}

.date{
  color: #808080;
  font-style: italic;
}

.headLeft{
  width: 40%;
  float: left;
  border-bottom: 1px solid black;
  margin-bottom: 5%;
}

.headMenu{
  width: 40%;
  margin-top: 0.5%;
  margin-right: 20%;
  text-align: right;
  float: right;
}

.blog{
  width: 100%;
  margin-top: 0.5%;
  float: left;
}

.entry{
  margin-bottom: 5%;
}

.jiggle {
    -webkit-animation: jiggle 2s infinite;
    -moz-animation-duration: 2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}

a:hover {
  background: yellow;
  color: black;
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
    }
    50% {
        -moz-transform: rotate(1deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
        }
    50% {
        -webkit-transform: rotate(1deg);
    }
}
