.homepage-container{
  
}

.flex-center {
    background-color: white;
    color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 92.5vh;
  }
  .flex-center-bottom {
    background-color: white;
    color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    height:7.5vh;
    margin-right: 1em;
  }
  .flex-item-center {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
  }
  .flex-item-bottom {
    order: 1;
    flex: 0 1 auto;
    align-self: flex-end;
  }

@media only screen and (max-width: 600px) {
    .flex-center-bottom{
      display:none;
    }
}